.g2-tooltip {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
  border-radius: 3px;
  color: rgb(87, 87, 87);
  .g2-tooltip-title {
    margin-bottom: 4px;
    font-size: 14px;
  }
  .g2-tooltip-list {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
  }
}